@font-face {
  font-family: "GoogleSans";
  src: url("./GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 300px;
  height: 300px;
  color: #e4e4e4;
  background: #1f1f1f;
  font-weight: 400;
  font-family: "GoogleSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-family: "GoogleSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #e4e4e4;
  background: #1f1f1f;
  border: none;
  border-radius: 8px;
  border: 4px solid #3d3d3d;
  font-weight: 400;
  padding: 5px 10px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > p {
    font-size: 18px;
  }

  .connect-acc {
    width: 125px;
    height: 35px;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      border-color: #e4e4e4;
    }
  }
}
