@font-face {
  font-family: "GoogleSans";
  src: url("./GoogleSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 325px;
  height: 600px;
  color: #e4e4e4;
  background: #202020;
  font-weight: 400;
  font-family: "GoogleSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* or #f0f0f0 */
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background-color: #b5b5b5;
  border-radius: 6px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #9a9a9a;
}

button {
  font-family: "GoogleSans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1f1f1f;
  background: #e4e4e4;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  padding: 8px 17.5px;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;

  > a {
    font-size: 20px;
    font-weight: 600;
    color: #e4e4e4;
    text-decoration: none;
    &:hover {
      color: #2e60cd;
    }
  }
}

#content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  #tabs {
    width: 100%;
    .tabs-grid {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      background-color: #141414;
      border: 1px solid rgba(128, 128, 128, 0.489);
      border-radius: 6px;
      width: 290px;
      height: 265px;
      margin-left: 17.5px;
      overflow-y: auto;
      overflow-x: hidden;

      > p {
        margin: 0;
      }

      > .tab-item {
        font-size: 10px;
        display: flex;
        white-space: nowrap;
        padding: 7px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.489);
        width: max-content;
        min-width: 100%;

        &:hover {
          background-color: #1f1f1f;
        }

        > img {
          margin-right: 5px;
        }

        > .tab-flex {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;

          > .tab-url {
            padding-left: 5px;
            padding-top: 3px;
          }
        }
      }
    }
  }

  #options {
    .options-grid {
      display: flex;
      background-color: #141414;
      border: 1px solid rgba(128, 128, 128, 0.489);
      border-radius: 6px;
      font-size: 13px;
      padding: 10px 25px;
      column-gap: 25px;
      row-gap: 5px;
      font-weight: 600;
      width: 290px;
    }
  }

  #buttonsFlex {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  left: 100px;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #2e60cd;

    &:hover {
      color: #e4e4e4;
    }
  }
}

.label {
  font-weight: 900;
  font-size: 18px;
}
